@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;700&display=swap');
@import './variables';

* {
  font-family: 'IBM Plex Sans', sans-serif;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
}

body {
  background: $bg-color;
  height: 100vh;

  a {
    color: #111;
  }

  button {
    cursor: pointer;

    &:hover {
      background: #ddd;
    }
  }
}

.none {
  display: none !important;
}

.flex {
  display: flex !important;
}
