@import './form';

h1 {
  margin-bottom: 24px;
}

form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90%;
  margin: 0 10px;

  input {
    margin-bottom: 12px;
  }

  button {
    margin-top: 12px;
  }
}

a {
  margin-top: 32px;
}

@media (min-width: 480px) {
  form {
    width: 460px;
  }
}
