@import './form';
@import './variables.scss';

h1 {
  margin-bottom: 24px;
  color: $font-color;
}

form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90%;
  margin: 0 10px;

  input {
    margin-bottom: 12px;
    color: $font-color;
  }

  button {
    margin-top: 12px;
    font-weight: 500;
    color: $font-color;
  }
}

a {
  margin-top: 32px;
  font-weight: 500;
  color: $font-color;
}

@media (min-width: 480px) {
  form {
    width: 460px;
  }
}
